body {
    background-color: #ffccdd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scrolling */
}

.container {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    color: #d5006d;
    font-size: 3em;
}

p {
    font-size: 1.5em;
    margin: 20px 0;
}

button {
    background-color: #d5006d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
    }

    button {
        padding: 10px 20px;
        font-size: 1em;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
